/* frontend/src/components/LobbyAnalyzer.css */

.error-message {
  color: #ff4d4d;
  text-align: center;
  margin-top: 15px;
}

.analysis-result {
  margin-top: 25px;
  background-color: var(--tg-theme-secondary-bg-color);
  padding: 15px;
  border-radius: 12px;
}

.match-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.win-probability {
  text-align: center;
}

.map-info h3 {
  margin: 0;
  color: var(--tg-theme-hint-color);
  font-size: 18px;
}

.win-probability h2 {
  margin: 0 0 10px;
  color: var(--tg-theme-hint-color);
}

.win-probability p {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}

.win-probability p.win {
  color: #4caf50; /* Зеленый для победы */
}

.win-probability p.loss {
  color: #f44336; /* Красный для поражения */
}

.weak-link {
  text-align: center;
  background-color: rgba(255, 153, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.weak-link h3 {
  margin: 0 0 5px;
  color: var(--tg-theme-link-color);
}

.weak-link p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.tips-section {
  background-color: rgba(0, 150, 255, 0.1);
  border: 1px solid #007acc;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.tips-section h4 {
  margin: 0 0 10px;
  color: #00aaff;
}

.tips-section ul {
  margin: 0;
  padding-left: 20px;
}

.teams-container {
  display: flex;
  gap: 15px;
}

.team {
  flex: 1;
}

.team h4 {
  text-align: center;
  color: var(--tg-theme-hint-color);
  margin-bottom: 10px;
}

.player-card {
  background-color: #3a3a3a;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.player-main-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.player-nickname {
  margin: 0;
  font-weight: bold;
}

.player-elo {
  font-size: 14px;
  font-weight: bold;
  color: var(--tg-theme-link-color);
}

.player-secondary-stats {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  color: var(--tg-theme-hint-color);
}

.stat-up {
  color: #4caf50; /* Зеленый для улучшения */
}

.stat-down {
  color: #f44336; /* Красный для ухудшения */
}

.pro-verdict-section {
  margin-top: 20px;
  background-color: rgba(255, 215, 0, 0.1);
  border: 1px solid #ffd700;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
}

.pro-verdict-section h4 {
  margin: 0 0 10px;
  color: #ffd700;
}

.pro-verdict-section p {
  margin: 0;
  font-size: 16px;
}
/* Дополнительные стили для кнопок */

.button-group {
  display: flex;
  gap: 10px;
  margin-top: -5px; /* Небольшой отступ вверх */
  margin-bottom: 15px;
}

.main-button {
  flex-grow: 2; /* Основная кнопка будет шире */
}

.secondary-button {
  flex-grow: 1;
  background-color: var(--tg-theme-secondary-bg-color);
  border: 1px solid #555;
  color: var(--tg-theme-text-color);
}

.secondary-button:hover {
  background-color: #4a4a4a;
}
